* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

#page1 {
    width: 100vw;
    height: 100vh;
}

#nav {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
}


#nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#nav-right li {
    list-style: none;
}

.content {
    width: 100vw;
    height: 87vh;
    padding: 15vh 12vh;
}

#wraper {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;    
}

@media (width < 600px) {
    #nav-right li:nth-child(1),
    #nav-right li:nth-child(2),
    #nav-right li:nth-child(3){
        display: none;
    }

    #wraper {
        height: 40vh;
    }
}
